<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910275145203-qlkqfv2eh2dh2df8ojabll2upa3s3dqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910275145203-qlkqfv2eh2dh2df8ojabll2upa3s3dqc</string>
	<key>API_KEY</key>
	<string>AIzaSyBYpbM22RjCHrC3qRSmrjTvtrQUCjA6d8M</string>
	<key>GCM_SENDER_ID</key>
	<string>910275145203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abylay</string>
	<key>PROJECT_ID</key>
	<string>twitter-uikit</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-uikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910275145203:ios:7c699f48f278bffe1c7686</string>
</dict>
</plist>